{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1>Welcome to Awesome Circles API Demo</h1>
            </div>

            <div id="dashboard">
                <h2>Let's test:</h2>
                <ul>
                    <li><a href="">Who's here - Users</a></li>
                    <li><a href="">What's in here - Groups</a></li>
                </ul>
            </div>

            <h2>Who's online</h2>

            <div id="online">
            </div>

            <div id="profile" style="display: none">
            </div>

            <div id="generic_dialog_container" style="display: none"></div>

        </div>
    </div>
    {% block handlebars %}
    {% raw %}

    <script id="template_user_profile_detail" type="text/x-handlebars-template">
        <div class="profile_container">
            <h3>{{user.first_name}} {{ user.last_name }}</h3>
            <span class="invite-link">
                <a href="javascript:void(0)" onclick="sendInvite('{{ user.handle }}', this)"> Invite!</a>
            </span>
            <div>
                <img src="{{ user.image_url }}"/>
                <span class="invite_button">
                </span>
            </div>


            <div>
                <h4>E-mail</h4>
                <span>{{ user.email }}</span>
            </div>

            <div class="profile_body">
            </div>
            <h4>Friends</h4>
            <div id="profile_friends">
            </div>
        </div>
    </script>

    <script id="template_online_user_embeddable" type="text/x-handlebars-template">
        <span class="online_user"><a href="javascript:void(0)" class="profile_click" data-profile-handle="{{ user.handle }}">{{ user.first_name}} {{ user.last_name }}</a></span>
    </script>

    <script id="template_friend_list_embeddable" type="text/x-handlebars-template">
        <div class="profile_friend">
            <a href="javascript:void(0)" class="profile_click" data-profile-handle="{{ user.handle }}">{{user.first_name}} {{ user.last_name }}</a>
        </div>
    </script>

    {% endraw %}
    {% endblock %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">

        var service = new api('SO-INSECURE-TOKEN');

        var templates = {
            user_profile: { selector: '#template_user_profile_detail', template: null},
            user_friend_partial : {selector: '#template_friend_list_embeddable', template: null},
            user_online_embeddable: { selector: '#template_online_user_embeddable', template: null}
        };

        var showProfileDialog = function (handle) {
            var $profileContainer = $('#profile');
            console.log(handle);

            service.getUserProfile(handle, function (user) {
                console.log(user);

                var content = templates.user_profile.template({user : user});

                $profileContainer.html(content);

                service.getUserFriends(user.handle, function(friends){
                    var $profileFriendsContainer = $('#profile_friends');

                    $.each(friends, function(index, friend){
                        var partial = templates.user_friend_partial.template({user : friend});
                        $profileFriendsContainer.append(partial);
                    });
                });

                $profileContainer.dialog({
                    title : user.first_name + ' ' + user.last_name + ' (' + user.handle + ')',
                    width : "50%",
                    open : function(){
                        $('#profile_friends .profile_click').click(function(){
                            var profileHandle = $(this).attr('data-profile-handle');
                            showProfileDialog(profileHandle);
                        });
                    }
                });

            });
        };

        var sendInvite = function(handle, elem) {
            service.inviteUser(handle, function(result){
                if (result.status.toUpperCase() == 'OK') {
                    $('#generic_dialog_container').html('User was invited');
                    $('#generic_dialog_container').dialog({title : 'User invited'});
                    $(elem).parent().html('Invited');
                }
            });
        };

        $(document).ready(function(){

            service.getOnlineUsers(function(onlineUsers){
                var $onlineContainer = $('#online');

                $.each(onlineUsers, function(key, item){
                    $onlineContainer.append(templates.user_online_embeddable.template({user : item}));
                });

                $('.profile_click').click(function(){
                    var profileHandle = $(this).attr('data-profile-handle');
                    showProfileDialog(profileHandle);
                });
            });

            $.each(templates, function(index, templateConfig){
                var source   = $(templateConfig.selector).html();
                templateConfig.template = Handlebars.compile(source);
            });

        });

    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
<style>
    body { background: #F5F5F5; font: 18px/1.5 sans-serif; }
    h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
    h1 { font-size: 36px; }
    h2 { font-size: 21px; margin-bottom: 1em; }
    p { margin: 0 0 1em 0; }
    a { color: #0000F0; }
    a:hover { text-decoration: none; }
    code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
    #wrapper { background: #FFF; margin: 1em auto; max-width: 800px; width: 95%; }
    #container { padding: 2em; }
    #welcome, #status { margin-bottom: 2em; }
    #welcome h1 span { display: block; font-size: 75%; }
    #icon-status, #icon-book { float: left; height: 64px; margin-right: 1em; margin-top: -4px; width: 64px; }
    #icon-book { display: none; }

    @media (min-width: 768px) {
        #wrapper { width: 80%; margin: 2em auto; }
        #icon-book { display: inline-block; }
        #status a, #next a { display: block; }

        @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        .sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
    }

    .online_user {
        padding-left: 2px;
        padding-right: 2px;
    }

</style>
{% endblock %}
